@import url("../fonts/font.scss");


/* 
$click = { //button characteristics //храниться кнопка, ее характеристики
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

body {
    height: 2000px;

    header {
        position: fixed;


        display: flex; 
        flex-direction: column;
        align-content: center;
        margin-top: -100px;


        width: 1150px;
        height: 60px;


        .img-logo {
            background-image: url('../img-header/logo.svg'); // Site logo is stored here // Тут первая картинка(Слево)
            width: 41px;
            height: 41px;
        }

        .section-one {
            display: flex;
            justify-content: space-around;
            
            
            width: 1200px;
            height: 50px;

            .right-header {

                display: flex;
                justify-content: space-between;

                nav {
                    display: flex;
                    align-items: center;

                    p {
                        margin-right: 34px;
                        font: 400 16px'Inter';
                        color: #B8BECD;
                    }

                    p:hover {
                        text-decoration: underline;
                    }
                }
            }

            .header-btn {
                display: flex;
                
                .btn-login {
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    font: 500 15px'Inter';
                    color: #FB8F1D;

                    width: 132px;
                    height: 44px;


                    border: 1px solid #FB8F1D;
                    border-radius: 8px;
                }

                .btn-login:active {

                    background: #FB8F1D;
                    color: #FFFFFF;


                }

                .btn-Register {
                    margin: 0 0 0 30px;
                    font: 500 15px'Inter';
                    color: #FFFFFF;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 44px;
                    width: 132px;

                    background: #FB8F1D;
                    border-radius: 8px;
                    border: 1px solid #FB8F1D;
                }

                .btn-Register:active {

                    background: #FFFFFF;
                    color: #FB8F1D;

                }
            }
        }
    }
}




