@import url("../fonts/font.scss");

* {

    //The site is written in English and Русский. My git: @handyDominant;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
}

/* 
$click = { //button characteristics //храниться кнопка, ее характеристики
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

body {
    height: 2000px;
    width: 1640px;

    header {
        width: 1221px;


        .img-logo {
            background-image: url('../img-header/logo.svg'); // Site logo is stored here // Тут первая картинка(Слево)
            width: 41px;
            height: 41px;
        }

        .section-one {
            margin-top: -100px;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 1200px;
            height: 50px;




            .right-header {

                display: flex;
                justify-content: space-between;

                nav {

                    display: flex;
                    align-items: center;

                    p {
                        margin-right: 34px;
                        font: 400 16px'Inter';
                        color: #B8BECD;
                    }

                    p:hover {
                        text-decoration: underline;

                    }

                }
            }

            .header-btn {
                display: flex;



                .btn-login {
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    font: 500 15px'Inter';
                    color: #FB8F1D;

                    width: 132px;
                    height: 44px;


                    border: 1px solid #FB8F1D;
                    border-radius: 8px;
                }

                .btn-login:active {

                    background: #FB8F1D;
                    color: #FFFFFF;


                }

                .btn-Register {
                    margin: 0 0 0 30px;
                    font: 500 15px'Inter';
                    color: #FFFFFF;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 44px;
                    width: 132px;

                    background: #FB8F1D;
                    border-radius: 8px;
                    border: 1px solid #FB8F1D;
                }

                .btn-Register:active {

                    background: #FFFFFF;
                    color: #FB8F1D;

                }
            }
        }
    }
}



.section-two {
    display: flex;
    justify-content: space-between;
    
    

    margin-top: 113px;

    div {
        

        .top-lvl {
            display: flex;
            flex-direction: column;
            
            
            
            
            


            h1 {
                font: 700 64px 'Playfair Display';

                width: 356;
                height: 160px;
        
                color: #202336;

            }

            .form h3 {
                font: 600 22px 'Inter';
    
                color: #202336;
            }

        .form {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            border-radius: 3px;

            .block {
                    border: 1px solid black;
                    border-radius: 3px;
                    
                    
            }




            .form .btn-form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font: 700 17px 'Inter';
        
                    width: 180px;
                    height: 52px;
        
                    background: #FB8F1D;
                    border-radius: 8px;
                    color: #FFFFFF;
        
        
            }
        
            .btn-form:active {
        
                    background: #FFFFFF;
                    color: #FB8F1D;
                    border: 1px solid #FB8F1D;
            }
            
        }
    }    
        
    .img-header {
        background-image: url('../img-header/thousand-01\ 1.svg'); // Second picture (on the right) // Вторая картинка (Справа)
            width: 506px;
            height: 483px;
                     
        }
} 

    
