@charset "UTF-8";
@import url("../fonts/font.scss");
/* 
$click = { //button characteristics //храниться кнопка, ее характеристики
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
header {
  position: fixed;
  width: 1240px;
  margin-top: -210px;
}
header .section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .section-one .img-logo {
  background-image: url("../travel-layout/img-header/logo.svg");
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
  background-size: contain;
}
header .section-one .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .section-one .right-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .section-one .right-header nav p {
  margin-right: 34px;
  font: 400 16px "Inter";
  color: #B8BECD;
}
header .section-one .right-header nav p:hover {
  text-decoration: underline;
}
header .section-one .header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .section-one .header-btn .btn-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 500 15px "Inter";
  color: #FB8F1D;
  width: 132px;
  height: 44px;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
}
header .section-one .header-btn .btn-login:active {
  background: #FB8F1D;
  color: #FFFFFF;
}
header .section-one .btn-register {
  margin: 0 0 0 30px;
  font: 500 15px "Inter";
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 132px;
  background: #FB8F1D;
  border-radius: 8px;
  border: 1px solid #FB8F1D;
}
header .section-one .btn-register:active {
  background: #FFFFFF;
  color: #FB8F1D;
}