@import url("../fonts/font.scss");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
}

main {
  margin-top: 103px;
  width: 1206px;
  height: 534px;
}
main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main section .img-main {
  background-image: url("../img-main/Thousand-02 2 (2).svg");
  width: 659px;
  height: 534px;
}
main section .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}
main section .description .btn-main {
  background: #FB8F1D;
  border-radius: 8px;
  color: #FFFFFF;
  width: 164px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main section .description .btn-main:active {
  background: white;
  color: #FB8F1D;
}
main section .description nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main section .description nav h2 {
  font: 700 30px "Playfair Display";
  color: #000000;
  width: 481px;
  height: 100px;
}
main section .description nav p {
  font: 300 17px "Inter";
  color: #7D7987;
  width: 450px;
  height: 120px;
}