@import url("../fonts/font.scss");



* {

    //The site is written in English and Русский. My git: @handyDominant;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
}

/* 
$click = { //button characteristics //храниться кнопка, ее характеристики
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

main {

    .section-main-one {
        display: flex;
        justify-content: space-around;

        div {


            .all-items {

                .titile-section-one {

                    nav {
                        h1 {
                            font: 700 64px 'Playfair Display';
                            color: #202336;
                        }

                        h3 {
                            margin-top: 74px;

                            font: 600 22px'Inter';
                            color: #202336;
                        }
                    }

                }

                .block {
                    display: grid;

                    div {}
                }
            }

            .btn-section-one {
                margin-top: 51px;
                display: flex;
                align-items: center;
                justify-content: center;


                font: 500 15px'Inter';
                color: #FB8F1D;

                width: 132px;
                height: 44px;


                border: 1px solid #FB8F1D;
                border-radius: 8px;
            }

            .btn-section-one:active {

                background: #FB8F1D;
                color: #FFFFFF;
            }
        }

        .img-main-one {

            background-image: url("./img-main/thousand-01\ 1.svg");
            width: 506px;
            height: 483px;
        }
    }


    .section-main-two {
        display: flex;
        justify-content: space-between;

        width: 1206px;
        height: 534px;

        .img-main-two {
            background-image: url('./img-main/Thousand-02\ 2\ \(2\).svg');
            width: 659px;
            height: 534px;
        }

        .content-main {

            width: 540px;
            height: 534px;
            display: flex;
            flex-direction: column;


            nav {


                h3 {
                    width: 350px;
                    font: 700 30px 'Playfair Display';

                    color: #000000;
                }

                p {
                    width: 350px;
                    height: 100px;
                    font: 300 17px'Inter';
                    color: #7D7987;

                }

                .btn-section-two {
                    margin-top: 51px;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    font: 500 15px'Inter';
                    color: #FB8F1D;

                    width: 132px;
                    height: 44px;


                    border: 1px solid #FB8F1D;
                    border-radius: 8px;
                }

                .btn-section-two:active {

                    background: #FB8F1D;
                    color: #FFFFFF;
                }

            }
        }
    }
}