@import url("./color.scss");

* {

    //The site is written in English and Русский. My git: @handyDominant;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
}

/* 
$click = { //button characteristics //храниться кнопка, ее характеристики
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

body {

    width: 1640px;
    height: 408px;

    header {
        margin-top: 20px;
        width: 1221px;
        height: 743px;
        



        .img-logo {
            background-image: url('../img/logo.svg'); // Site logo is stored here // Тут первая картинка(Слево)
            width: 41px;
            height: 41px;
        }

        .section-one {
            position: sticky;
            display: flex;
            justify-content: space-around;

            .right-header {

                display: flex;
                justify-content: space-between;

                nav {
                    
                    display: flex;
                    align-items: center;

                    p {
                        margin-right: 34px;
                        font: 400 16px'Inter';
                        color: #B8BECD;
                    }

                    p:hover{
                            text-decoration: underline;

                        }    
                    
                }
            }

            .header-btn{
                display: flex;
                


                .btn-login{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                
                    font: 500 15px'Inter';
                    color: #FB8F1D;

                    width: 132px;
                    height: 44px;
    

                    border: 1px solid #FB8F1D;
                    border-radius: 8px;
                }

                .btn-login:active{

                    background: #FB8F1D;
                    color: #FFFFFF;
                    

                }

                .btn-Register {
                    margin: 0 0 0 30px; 
                    font: 500 15px'Inter';
                    color: #FFFFFF;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 44px;
                    width: 132px;

                    background: #FB8F1D;
                    border-radius: 8px; 
                    border: 1px solid #FB8F1D;      
                }

                .btn-Register:active{

                    background: #FFFFFF;
                    color: #FB8F1D;

                }
                .btn-Register::content{

                    background: #FFFFFF;
                    color: #FB8F1D;

                }
            }
        }   
    }    
}



.section-two {
    width: 1120px;
    margin: auto;
    
    margin-top: 113px;
    display: flex;
    justify-content: space-around;

    .img-header{
        background-image: url('../img/thousand-01\ 1.svg'); // Second picture (on the right) // Вторая картинка (Справа)
        width: 506px;
        height: 483px;
    }    

    h1 {
        width:356;
        height: 160px;

        font: 700 64px 'Playfair Display';
    
        color: #202336;
    }

    div {
        display: flex;
        flex-direction: column;
    }
    .form {
        
    }
    .form h3{
        font: 600 22px 'Inter';

        color: #202336;  
    }

    .form .btn-form {
        display: flex;
        align-items: center;
        justify-content: center;
        font: 700 17px 'Inter';

        width: 180px;
        height: 52px;

        background: #FB8F1D;
        border-radius: 8px;
        
        
    }

    .btn-form:active{

        background: #FFFFFF;
        color: #202336;
        border: 1px solid #FB8F1D;
    }   

    .form nav {
        margin: 71px 0 51px 0;
        display: grid;

    }
    
}










