@import url("./fonts/font.scss");

/* 
$click = { //button characteristics //храниться кнопка, ее характеристики
    display: flex;
    align-items: center;
    justify-content: center;
}
*/


body {
    width: 1640px;
    margin: auto;

    header {
        position: fixed; 
        width: 1240px;
        margin-top: -210px;


        .section-one {
            display: flex;
            justify-content: space-around;

            .img-logo {
                background-image: url('../travel-layout/img-header/logo.svg'); // Site logo is stored here // Тут первая картинка(Слево)
                width: 41px;
                height: 41px;
                background-repeat: no-repeat;
                background-size: contain;
                
            }

            .right-header {
                display: flex;
                justify-content: space-between;

                nav {
                    display: flex;
                    align-items: center;

                    p {
                        margin-right: 34px;
                        font: 400 16px'Inter';
                        color: #B8BECD;
                    }

                    p:hover {
                        text-decoration: underline;
                    }
                }
            }

            .header-btn {
                display: flex;
                justify-content: space-between;

                .btn-login {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font: 500 15px'Inter';
                    color: #FB8F1D;

                    width: 132px;
                    height: 44px;

                    border: 1px solid #FB8F1D;
                    border-radius: 8px;
                }

                .btn-login:active {

                    background: #FB8F1D;
                    color: #FFFFFF;
                }


            }

            .btn-register {
                margin: 0 0 0 30px;
                font: 500 15px'Inter';
                color: #FFFFFF;

                display: flex;
                align-items: center;
                justify-content: center;

                height: 44px;
                width: 132px;

                background: #FB8F1D;
                border-radius: 8px;
                border: 1px solid #FB8F1D;
            }

            .btn-register:active {

                background: #FFFFFF;
                color: #FB8F1D;
            }

        }
    }




    main {
        width: 1300px;
        margin: 230px 0px;
	    
        

        .section-main-one {
            display: flex;
            justify-content: space-around;

            div {

                .all-items {
                    display: flex;
                    flex-direction: column;
                    margin: auto;

                    .titile-section-one {

                        nav {
                            margin-bottom: 71px; 
                            h1 {
                                width: 360px;

                                font: 700 64px 'Playfair Display';
                                color: #202336;
                            }

                            p {
                                font: 600 22px'Inter';
                                color: #202336;
                            }
                        }

                    }

                    .block {
                        
                        display: grid;
                        grid-template-columns: 220px 220px;
                        grid-template-rows: 52px 52px;
                        grid-gap: 35px 30px;

                        div {
                            

                            font: 400 15px 'Inter';
                            font-family: 'Inter';

                            display: flex;
                            align-items: center;

                            border: 0.8px solid #AFB0B9;
                            border-radius: 6px;

                            color: #4A4C53;
                        }
                    }
                }

                .btn-section-one {
                    margin-top: 51px;
                    font: 500 15px'Inter';
                    color: #FFFFFF;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 44px;
                    width: 132px;

                    background: #FB8F1D;
                    border-radius: 8px;
                    border: 1px solid #FB8F1D;
                }

                .btn-section-one:active {

                    background: #FFFFFF;
                    color: #FB8F1D;


                }
            }

            .img-main-one {

                background-image: url("./img-main/thousand-01\ 1.svg");
                width: 506px;
                height: 483px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }


        .section-main-two {
            margin-top: 150px;
            display: flex;
            justify-content: space-around;

            

            .img-main-two {
                background-image: url('./img-main/Thousand-02\ 2\ \(2\).svg');
                width: 659px;
                height: 534px;
                background-repeat: no-repeat;
                background-size: contain;
            }

            .content-main {
                display: flex;
                flex-direction: column;
                margin: auto;


                nav {


                    h3 {
                        width: 350px;
                        font: 700 30px 'Playfair Display';

                        color: #000000;
                    }

                    p {
                        width: 350px;
                        height: 100px;
                        font: 300 17px'Inter';
                        color: #7D7987;

                    }

                    .btn-section-two {

                        font: 500 15px'Inter';
                        color: #FFFFFF;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        height: 44px;
                        width: 132px;

                        background: #FB8F1D;
                        border-radius: 8px;
                        border: 1px solid #FB8F1D;
                    }

                    .btn-section-two:active {

                        background: #FFFFFF;
                        color: #FB8F1D;


                    }

                }
            }
        }
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 192px;
        height: 408px;
        width: 1300px;

        background: #F9F9FB;

        .section-footer-one {
            display: flex;
            justify-content: space-around;
            


            .block-footer-one {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                nav {
                    font: 300 18px'Inter';
                    color: #848484;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    p:first-child {
                        width: 300px;
                        height: 71.1px;

                    }
                }

                .footer-img {
                    background-image: url("./img-header/logo.svg");
                    width: 41px;
                    height: 41px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    
                }
            }

            .block-footer-two {
                display: flex;
                justify-content: space-around;

                nav {
                    height: 211px;
                    margin: 2px 0 0 100px;
                    

                    p {
                        font: 300 18px 'Inter';
                        color: #848484;
                    }

                    p:hover {
                        text-decoration: underline;
                    }

                    p:first-child {
                        font: 700 19px'Inter';
                        color: #000000;
                    }

                    
                }
            }
        }
    }
}




