@charset "UTF-8";
@import url("./fonts/font.scss");
/* 
$click = { //button characteristics //храниться кнопка, ее характеристики
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
body {
  width: 1640px;
  margin: auto;
}
body header {
  position: fixed;
  width: 1240px;
  margin-top: -210px;
}
body header .section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body header .section-one .img-logo {
  background-image: url("../travel-layout/img-header/logo.svg");
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
  background-size: contain;
}
body header .section-one .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header .section-one .right-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .section-one .right-header nav p {
  margin-right: 34px;
  font: 400 16px "Inter";
  color: #B8BECD;
}
body header .section-one .right-header nav p:hover {
  text-decoration: underline;
}
body header .section-one .header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header .section-one .header-btn .btn-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 500 15px "Inter";
  color: #FB8F1D;
  width: 132px;
  height: 44px;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
}
body header .section-one .header-btn .btn-login:active {
  background: #FB8F1D;
  color: #FFFFFF;
}
body header .section-one .btn-register {
  margin: 0 0 0 30px;
  font: 500 15px "Inter";
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 132px;
  background: #FB8F1D;
  border-radius: 8px;
  border: 1px solid #FB8F1D;
}
body header .section-one .btn-register:active {
  background: #FFFFFF;
  color: #FB8F1D;
}
body main {
  width: 1300px;
  margin: 230px 0px;
}
body main .section-main-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body main .section-main-one div .all-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}
body main .section-main-one div .all-items .titile-section-one nav {
  margin-bottom: 71px;
}
body main .section-main-one div .all-items .titile-section-one nav h1 {
  width: 360px;
  font: 700 64px "Playfair Display";
  color: #202336;
}
body main .section-main-one div .all-items .titile-section-one nav p {
  font: 600 22px "Inter";
  color: #202336;
}
body main .section-main-one div .all-items .block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 30px 220px;
  grid-template-columns: 220px 220px;
  -ms-grid-rows: 52px 35px 52px;
  grid-template-rows: 52px 52px;
  grid-gap: 35px 30px;
}
body main .section-main-one div .all-items .block > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
body main .section-main-one div .all-items .block > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
body main .section-main-one div .all-items .block > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
body main .section-main-one div .all-items .block > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
body main .section-main-one div .all-items .block div {
  font: 400 15px "Inter";
  font-family: "Inter";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  color: #4A4C53;
}
body main .section-main-one div .btn-section-one {
  margin-top: 51px;
  font: 500 15px "Inter";
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 132px;
  background: #FB8F1D;
  border-radius: 8px;
  border: 1px solid #FB8F1D;
}
body main .section-main-one div .btn-section-one:active {
  background: #FFFFFF;
  color: #FB8F1D;
}
body main .section-main-one .img-main-one {
  background-image: url("./img-main/thousand-01 1.svg");
  width: 506px;
  height: 483px;
  background-repeat: no-repeat;
  background-size: contain;
}
body main .section-main-two {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body main .section-main-two .img-main-two {
  background-image: url("./img-main/Thousand-02 2 (2).svg");
  width: 659px;
  height: 534px;
  background-repeat: no-repeat;
  background-size: contain;
}
body main .section-main-two .content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}
body main .section-main-two .content-main nav h3 {
  width: 350px;
  font: 700 30px "Playfair Display";
  color: #000000;
}
body main .section-main-two .content-main nav p {
  width: 350px;
  height: 100px;
  font: 300 17px "Inter";
  color: #7D7987;
}
body main .section-main-two .content-main nav .btn-section-two {
  font: 500 15px "Inter";
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 132px;
  background: #FB8F1D;
  border-radius: 8px;
  border: 1px solid #FB8F1D;
}
body main .section-main-two .content-main nav .btn-section-two:active {
  background: #FFFFFF;
  color: #FB8F1D;
}
body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 192px;
  height: 408px;
  width: 1300px;
  background: #F9F9FB;
}
body footer .section-footer-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body footer .section-footer-one .block-footer-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body footer .section-footer-one .block-footer-one nav {
  font: 300 18px "Inter";
  color: #848484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body footer .section-footer-one .block-footer-one nav p:first-child {
  width: 300px;
  height: 71.1px;
}
body footer .section-footer-one .block-footer-one .footer-img {
  background-image: url("./img-header/logo.svg");
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
  background-size: contain;
}
body footer .section-footer-one .block-footer-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body footer .section-footer-one .block-footer-two nav {
  height: 211px;
  margin: 2px 0 0 100px;
}
body footer .section-footer-one .block-footer-two nav p {
  font: 300 18px "Inter";
  color: #848484;
}
body footer .section-footer-one .block-footer-two nav p:hover {
  text-decoration: underline;
}
body footer .section-footer-one .block-footer-two nav p:first-child {
  font: 700 19px "Inter";
  color: #000000;
}

@media screen and (max-width: 500px) {
  header .section-one {
    background-color: red;
  }
  header .section-one .img-logo {
    display: none;
  }
  main .section-main-one div .all-items .titile-section-one nav h1 {
    font: 700 40px "Playfair Display";
    color: #202336;
    background-color: red;
  }
  main .section-main-one div .all-items .block {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 45px 20px 45px 20px 45px 20px 45px;
    grid-template-rows: 45px 45px 45px 45px;
    grid-gap: 20px 20px;
    background-color: red;
  }
  main .img-main-one {
    display: none;
  }
}